body {
	background-color: #222;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
}

.login-wrapper {
	display: flex;
	width: 35%;
	min-width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.main-title {
	font-size: 7em;
	margin-top: 0;
	font-weight: bolder;
	font-family: Helvetica;
	color: #f39c12;
	text-shadow: 2px 5px 8px #000;
	margin-bottom: 90px;
}

.main-strong {
	color: #000;
	text-shadow: 2px 0  #f39c12, -2px 0 0 #f39c12, 0 2px 0 #f39c12, 0 -2px 0 #f39c12, 1px 1px #f39c12, -1px -1px 0 #f39c12, 1px -1px 0 #f39c12, -1px 1px 0 #f39c12, 2px 5px 8px #000;
	font-family: Arial;
}

.input-group {
	margin: 15px;
	min-width: 100px;
	width: 300px;
	border: solid 3px #f39c12;
	border-radius: 9px;
}

.input-group input {
	background-color: transparent;
	color: #e1e1e1;
	font-size: 21px;
}

.input-group-addon {
	background-color: #f39c12;
}

.login-btn {
	display: flex;
	min-width: 100px;
	width: 300px;
	justify-content: center;
	padding-top: 30px;
}

button span {
	color: #d3d3d3;
}

.bt-link {
	color: #f39c12;
	transition: all ease-in-out 0.3s;
	text-decoration: none !important;
}

.bt-link:hover {
	color: #ffd695;
	font-size: 16px;
}

.bt-link:active {
	color: #ad6e0a;
}

.bt-link:visited {
	color: #ad6e0a;
}

.modal-loader {
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: -1;
	opacity: 0;
	transition: opacity 0.3s;
}

.modal-loader.loading {
	opacity: 1;
	z-index: 999;
}

.left-panel {
	float: left;
	min-width: 450px;
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10px;
	box-shadow: 3px 0px 5px #000;
}

.cliente-cpf {
	min-width: 400px;
}

.consulta-cliente button {
	margin-right: -1px;
}

.customer-data {
	height: 0;
	overflow: hidden;
	width: 430px;
	transition: height ease-out 0.5s;
	margin-bottom: 30px;
}

.customer-data.show {
	height: 100%;
}

.customer-data .input-group {
	min-width: 400px;
}

.customer-data .btn-group {
	width: 100%;
	padding: 15px;
	display: flex;
	justify-content: center;
}

.customer-data .btn-group button {
	width: 45%;
	box-shadow: 1px 3px 6px #000;
}

.panel-label span {
	font-weight: normal;
	font-size: 1em;
}

.panel-label {
	position: relative;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
}

.cadastro-cliente {
	min-width: 400px;
}

.right-panel {
	float: left;
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10px;
	background-color: #f39c12;
	box-shadow: inset 2px 0 8px #000;
}

.statistics {
	position: absolute;
	width: 50%;
	height: 50%;
	padding: 15px;
	display: flex;
	flex-direction: column;
}

.statistics.top-left {
	left: 0;
	top: 0;
}

.statistics.top-right {
	right: 0;
	top: 0;
}

.statistics.bottom-left {
	left: 0;
	bottom: 0;
}

.statistics.bottom-right {
	right: 0;
	bottom: 0;
}

.statistics .panel {
	border: solid 3px #464545;
	border-radius: 9px;
	overflow: hidden;
}

.statistics .panel-body-area {
	max-height: 200px;
	width: 110%;
	overflow: auto;
}

.statistics .panel-body {
	display: flex;
	align-items: center;
}

.statistics .panel-body .label {
	float: left;
	font-size: 1em;
	margin-right: 15px;
	cursor: pointer;
	transition: background-color ease 0.3s;
}

.statistics .panel-body .label:hover {
	background-color: #f39c12;
}

.statistics .panel-body.main {
	font-size: 18px;
}

.statistics .btn-group-vertical {
	margin: 13px;
	background: linear-gradient(#f39c12, #1e1e1e, #f39c12);
}

.statistics .btn-group-vertical button {
	margin: 2px 0;
}

.not-found {
	font-size: 2em;
}

.oops {
	font-size: 6em;
	text-align: center;
	font-family: cursive;
	color: #f39c12;
	font-weight: bolder;
	text-shadow: 3px 3px 8px #000;
	z-index: 1;
}

.easter {
	position: fixed;
	color: #000;
	opacity: 1;
	font-family: Arial;
	font-weight: bolder;
	font-size: 110%;
	transform: translate(-30px, 3px) rotate(4deg);
	transition: opacity ease 1s;
	animation: birl 3s linear infinite alternate;
}

@keyframes birl {
	from {opacity: 0}
	to {opacity: 0.6}
}